.rightimg{
    height: 850px;
    width: 100%;

    
}
.container{
    display: flex;
}
.left{
    background-color: #755800;
    height: 850px;
    width: 50%;
    z-index: 3;
}
.right{
    position: relative;
    top: 300px;
    left: 400px;
    
}


.logo{
    margin-left: 50px;
    margin-top: 30px;
}
.LG{
    height:100px;
    width: 120px;
}
.signin{
    margin-top: 100px;
    margin-left: 120px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    border-radius: 5px;
    height: 30px;
    width: 450px;
    
}
.button{
    margin-top: 45px;
}
#signin{
    height: 40px;
    width: 460px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #F5DDAA;
    color: #ffff;
}
.signup{
    text-decoration: none;
    color: #F5DDAA;
}
